html, body .container{
    width: 100%;
}

.pad-row{
    padding-left: 50px;
    padding-right: 50px;
}
.header-padding{
    padding-top: 15px;
}
.post-phone-size{
    font-size: 1.5em;
}
.post-phone-inline{
    display: inline;
    color: #939394;
}
.post-row{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dcddde;
}
.post-phone-inline:hover{
    cursor: pointer;
}
img.img-responsive {
    margin: 0 auto;
}
.post-phone-size:hover{
    color: #2041e5;
    cursor: pointer;
}
.post-phone-text-color{
    color: #afb0b1;
}
.text-bold{
    font-weight: bold;
}
.create-by{
    padding-bottom: 15px;
    border-bottom: 1px solid #dcddde;
}
article, .create-by, .sub-post-footer{
    color: #939394;
}
.logo:hover{
    cursor:pointer;
}
.logo{
    width: 127px;
    height: 47px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    margin-top: 10px;
}
.post-content{
    padding-top: 15px;
}
.post-image-preview img{
    width: 230px;
    height: 131px;
/*
    background-size: 230px 131px;
    background-image: url('../images/m19.jpg');
    background-repeat: no-repeat;
*/
}
.inner-addon{
    position: relative;
}
.inner-addon .glyphicon{
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.left-addon .glyphicon{
    left:  0px;
}
.right-addon .glyphicon{
    right: 0px;
}
.left-addon input{
    padding-left:  30px;
}
.right-addon input{
    padding-right: 30px;
}
.post-footer{
    height: 150px;
    text-align: center;
    clear: both;
    border-top: 15px solid #6CCFE5;
}
.post-footer-1{
    margin-top: 50px;
    bottom: 0;
    position: absolute;
    background-color: #F7F7F7;
    width: 100%;
    height: 150px;
    border-top: 15px solid #6CCFE5;
    text-align: center;
}
.text-footer{
    margin-top: 60px;
}
